/* Custom CSS variables for consistent font size and color management */
:root {
  --font-size-sm: clamp(0.8rem, 0.17vh + 0.76rem, 0.89rem);
  --font-size-base: clamp(1rem, 0.34vh + 0.91rem, 1.19rem);
  --font-size-md: clamp(1.25rem, 0.61vh + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vh + 1.31rem, 2.11rem);
  --font-size-xl: clamp(1.95rem, 1.56vh + 1.56rem, 2.81rem);
  --font-size-xxl: clamp(2.44rem, 2.38vh + 1.85rem, 3.75rem);
  --font-size-xxxl: clamp(3.85rem, 3.54vh + 2.17rem, 5rem);

  --darkColor: #2b2d42; /* Dark header background color */
  --lightColor: #ffd369; /* Light accent color */
  --sectionColor: #4a4e69; /* Website text color */
  --backgroundColor: #f0f3bd; /* Website background color */
}

/* Global CSS reset and font settings */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  box-sizing: border-box;
}

h1 {
  font-size: var(--font-size-xxxl);
}

h2 {
  font-size: var(--font-size-xxl);
}

h3 {
  font-size: var(--font-size-xl);
}

h4 {
  font-size: var(--font-size-lg);
}

h5 {
  font-size: var(--font-size-md);
}

p {
  font-size: var(--font-size-base);
}

/* Styling for the entire page */
body {
  background-color: var(--backgroundColor);
  color: var(--sectionColor);
}

/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  background-color: var(--darkColor);
}

/* Logo within the header */
header .logo {
  width: 300px;
  text-align: right;
  font-size: var(--font-size-xl);
  color: var(--darkColor);
  background-color: var(--lightColor);
}

/* Navigation menu styles */
header nav ul {
  list-style: none;
}

header nav ul li {
  display: inline-block;
  margin: 10px 20px;
}

header nav ul li a {
  font-weight: 700;
  color: var(--lightColor);
  text-decoration: none;
  font-size: var(--font-size-md);
  position: relative;
}

header nav ul li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  left: 0;
  bottom: -6px;
  background: var(--lightColor);
  transition: 0.5s;
}

header nav ul li a:hover::after {
  width: 100%;
}

/* Hero banner styles */
.hero-banner {
  position: relative;
  width: 100%;
  height: 200px;
  background-image: url(../images/02-hero-bg.jpg);
  background-size: cover;
  background-position: center;
}

.hero-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(47, 46, 66, 0.2);
}

/* Text within the hero banner */
.hero-text {
  position: absolute;
  margin: 20px;
  padding: 5px;
  bottom: 20px;
  right: 20px;
  color: var(--darkColor);
  background-color: var(--lightColor);
}

.hero-text p span {
  font-weight: bold;
  text-decoration: underline;
}

/* Page wrapper settings */
.page-wrapper {
  margin: 0 auto;
  width: 1200px; /* Maximum page width */
}

/* Page section styles */
.page-section {
  display: grid;
  padding: 50px 0;
  margin: 0 5%;
  color: var(--sectionColor);
  grid-template-columns: 20% 80%; /* Columns size */
}

/* Styling for about, work, and contact columns */
.about-col-1,
.work-col-1,
.contact-col-1 {
  text-align: right;
  padding-right: 20px;
  border-right: 5px solid var(--sectionColor);
}

.about-col-2,
.work-col-2,
.contact-col-2 {
  margin: 0 5%;
}

/* Additional styling for about column 2 */
.about-col-2 {
  display: flex;
  justify-content: center;
}

.about-col-2 p {
  font-size: var(--font-size-lg);
  margin-left: 30px;
}

.about-col-2 img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  border: 5px solid var(--lightColor);
}

/* Styling for work/portfolio projects column 2 */
.work-col-2 {
  display: grid;
  grid-gap: 10px;
  grid-template-rows: 300px 100px 100px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "project1 project1"
    "project2 project3"
    "project4 project5";
}

/* Project-specific styles */
#project-1 {
  grid-area: project1;
  background-image: url("../images/horiseon_demo_screenshot.png");
}

#project-2 {
  grid-area: project2;
  background-image: url("https://placehold.co/600x400?text=Coming+Soon");
}

#project-3 {
  grid-area: project3;
  background-image: url("https://placehold.co/600x400?text=Coming+Soon");
}

#project-4 {
  grid-area: project4;
  background-image: url("https://placehold.co/600x400?text=Coming+Soon");
}

#project-5 {
  grid-area: project5;
  background-image: url("https://placehold.co/600x400?text=Coming+Soon");
}

/* Work grid area styles */
.workGridArea {
  display: grid;
  position: relative;
  align-content: end;
  width: 100%;
  height: auto;
  margin: 5px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 4px solid var(--lightColor);
}

.workGridArea::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  background-color: rgba(255, 107, 107, 0.2);
}

.workGridArea:hover::before {
  background-color: rgba(31, 103, 212, 0);
}

/* Work heading styles */
.work-heading {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 10px;
  padding: 5px;
  color: var(--darkColor);
  background-color: var(--lightColor);
}

.work-heading p {
  font-size: var(--font-size-sm);
}

/* Work image link styles */
.work-image-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  cursor: pointer;
}

/* Contact column 2 styles */
.contact-col-2 ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  list-style: none;
}

.contact-col-2 ul li a {
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 700;
  text-decoration: none;
  color: var(--sectionColor);
}

.contact-col-2 ul li a::after {
  content: "";
  position: absolute;
  text-decoration: underline;
  width: 0;
  height: 5px;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
  background: var(--sectionColor);
}

.contact-col-2 ul li a:hover::after {
  width: 100%;
}

/* Contact icon styles */
#email::before,
#linkedin::before,
#github::before,
#codersrank::before {
  content: "";
  display: inline-block;
  width: 1.3em;
  height: 1.3em;
  margin-right: 0.5em;
  background-size: contain;
}

#email::before {
  background: url(../images/email.png) center/cover no-repeat;
}

#linkedin::before {
  background: url(../images/linkedin.png) center/cover no-repeat;
}

#github::before {
  background: url(../images/github.png) center/cover no-repeat;
}

#codersrank::before {
  background: url(../images/CodersRank.png) center/cover no-repeat;
}

/* Footer styles */
footer {
  margin-top: 100px;
  text-align: center;
  padding: 10px 0;
  color: #fff;
  background-color: #333;
}

footer span {
  font-size: var(--font-size-sm);
}

footer span::before {
  content: "\00a9";
  margin-right: 5px;
}

footer span:hover {
  text-decoration: underline;
}

/* Media query for screens smaller than 1200px */
@media screen and (max-width: 1200px) {
  /* Adjust header padding and font size for smaller screens */
  header {
    display: flex;
    flex-direction: column;
    padding: 10px 5%;
  }

  header .logo {
    width: 100%;
  }

  header nav ul li {
    display: inline-block;
    margin: 10px 10px;
  }

  /* Adjust the hero banner for smaller screens */
  .hero-banner {
    height: 250px;
  }

  .hero-text {
    bottom: 50px;
    right: 10px;
  }

  /* Adjust the page wrapper width for smaller screens */
  .page-wrapper {
    width: 100%;
  }

  /* Adjust page section styles for smaller screens */
  .page-section {
    padding: 10px 0;
    grid-template-columns: 100%;
  }

  .about-col-1,
  .work-col-1,
  .contact-col-1 {
    text-align: center;
    padding-right: 0;
    border-right: none;
  }

  .about-col-2,
  .work-col-2,
  .contact-col-2 {
    margin: 10px;
    padding: 0;
  }

  .about-col-2 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
  }

  .about-col-2 p {
    font-size: var(--font-size-md);
    margin-left: 0;
  }

  .about-col-2 img {
    width: 150px;
    height: 150px;
  }

  .work-col-2 {
    grid-template-rows: repeat(5, 200px);
    grid-template-columns: 1fr;
    grid-template-areas:
      "project1"
      "project2"
      "project3"
      "project4"
      "project5";
  }

  /* Adjust work grid area styles for smaller screens */
  .workGridArea {
    margin: 0px;
  }

  /* Adjust contact column 2 styles for smaller screens */
  .contact-col-2 ul {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    gap: 15px;
  }

  .contact-col-2 ul li a {
    font-size: var(--font-size-md);
  }

  /* Adjust contact icon styles for smaller screens */
  #email::before,
  #linkedin::before,
  #github::before,
  #codersrank::before {
    width: 1em;
    height: 1em;
  }
}
